<div class="entry">
    <a (click)="expand()">{{trip.title}}</a>
    <div class="details" *ngIf="expanded">
        <p>{{ trip.description }}</p>
        <img src="{{ trip.image }}"/>
    </div>>
</div>