<header>
    
    <a class="btn" routerLink="/main">Main</a>
    <a class="btn" routerLink="/logged">Trip List</a>
    
    <app-login></app-login>
</header>
<router-outlet></router-outlet>
<footer>
    
</footer>