<div class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" (click)="setSliderImage(0)" [class.active]="sliderImageIndex === 0"></li>
    <li data-target="#myCarousel" data-slide-to="1" (click)="setSliderImage(1)" [class.active]="sliderImageIndex === 1"></li>
    <li data-target="#myCarousel" data-slide-to="2" (click)="setSliderImage(2)" [class.active]="sliderImageIndex === 2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item"  [class.active]="sliderImageIndex === 0">
      <img src="https://blogmedia.evbstatic.com/wp-content/uploads/rally/2017/12/18141932/twenty20_06ebb026-9e16-48ad-9c86-c2a47b2f960f-1500x750.jpg" alt="Los Angeles">
    </div>

    <div class="carousel-item" [class.active]="sliderImageIndex === 1">
      <img src="https://trumpadmin.trumphotels.com/uploads/9487/0/chicago_timelapse_fall_back.jpg" alt="Chicago">
    </div>

    <div class="carousel-item"  [class.active]="sliderImageIndex === 2">
      <img src="http://www.burohappold.com/wp-content/uploads/2016/04/BuroHappold_New_York_preditions.jpg" alt="New York">
    </div>
  </div>
</div>