.card {
    height: 256px;
    width: 256px;
    margin: 5%;
}   

.card-img-top {
    height: 80%;
}
.card-text {
    text-align: center;
}

ul {
    display: inline-flex;
    width: 80%;
    margin: auto;
}

li {
    background-size: 256px 256px;
    padding: 5%;
}

.trip-list {
    width: 80%;
    margin: auto;
    padding: 10%;
}