<div class="trip-list">
  <ul>
    <li [ngStyle]="{'background-image': 'url(' + trip.image + ')'}" class="card" *ngFor="let trip of firstPair" >
      <h3 class="card-text">{{ trip.title }}</h3>
      <p>{{trip.description}}</p>
    </li>
  </ul>

  <ul>
    <li [ngStyle]="{'background-image': 'url(' + trip.image + ')'}" class="card" *ngFor="let trip of secondPair" >
      <h3 class="card-text">{{ trip.title }}</h3>
      <p>{{trip.description}}</p>
    </li>
  </ul>
</div>